*{
  box-sizing: border-box;
}

.search-part{
  text-align: center;
}

.input-search{
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn-search{
background-color: green;
padding: 5px;
color: white;
border-color: black;
border-radius: 5px;
cursor: pointer;
}

.btn-search:hover{
background-color: rgb(3, 71, 3);
}

.movie-part{
 text-align: center;
 margin-top: 30px;
 width: 50%;
 margin-left: auto;
 margin-right: auto;
}

p{
  margin-bottom: 5px;
  margin-top: 5px;
}

.details{
  cursor:pointer;
  color: green;
}

.details:hover{
  color: rgb(2, 49, 2);
}

.image{
  display: inline-block;
  max-width: 150px;
}

span{
font-weight: bolder;
}

.details-part{
  margin-top: 30px;
}